.background {
	-fx-background-color: #ECECEC;
}

.action-bar {
	-fx-background-color: #ECA403;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.0, 0, 6);
}

.image-button {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.0, 2, 6);
}

.image-button:hover {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 20, 0.0, 2, 6);
}

.image-button:pressed, .image-button:default:hover:pressed {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0.0, 2, 6);
}

.list-view {
	-fx-background-color: #0000ff;
	-fx-background-color: rgba(0, 0, 0, 0.0);
}

.list-cell {
	-fx-background-color: #ffffff;
	-fx-padding: 20 25 10 25;
	-fx-background-insets: 10 20 2 20;
	-fx-background-radius: 2;
	-fx-font-size: 13pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.0, 1, 2);
}

.list-cell:odd {
	-fx-background-color: #ffffff;
	-fx-padding: 20 25 10 25;
	-fx-background-insets: 10 20 2 20;
	-fx-background-radius: 2;
	-fx-font-size: 13pt;
	-fx-font-family: "Museo Sans Rounded 700";
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 5, 0.0, 1, 2);
}

.menu-button {
	-fx-opacity: .8;
}

.slide-menu {
	-fx-background-color: #ECA403;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 20, 0.0, 6, 5);
}

.slide-menu-front {
	-fx-background-color: #ECA403;
}

.menu-button:hover {
	-fx-opacity: 1;
}

.menu-button:pressed, .menu-button:default:hover:pressed {
	-fx-opacity: 1;
}

.log-in-header {
	-fx-background-color: rgba(255, 255, 255, .92);
}

.search-pane {
	-fx-background-radius: 2;
	-fx-background-color: rgba(255, 255, 255, .3);
	-fx-border-width: 0;
	-fx-border-radius: 2;
}

.search-pane:hover {
	-fx-background-radius: 2;
	-fx-background-color: rgba(255, 255, 255, .5);
	-fx-border-width: 0;
	-fx-border-radius: 2;
}

.search-pane:focused {
	-fx-background-radius: 2;
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-border-width: 0;
	-fx-border-radius: 2;
}

.search-field {
	-fx-background-radius: 2;
	-fx-background-color: rgba(255, 255, 255, .3);
	-fx-border-width: 0;
	-fx-border-radius: 2;
	-fx-padding: 0 50 0 50;
	-fx-text-fill: #000000;
	-fx-prompt-text-fill: #FFFFFF;
}

.text-field:hover {
	-fx-effect: null;
}

.text-field:focused {
	-fx-background-radius: 2;
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-border-width: 0;
	-fx-border-radius: 2;
	-fx-padding: 0 50 0 50;
	-fx-text-fill: #000000;
	-fx-prompt-text-fill: #1f1f1f;
}

.password-field {
	-fx-prompt-text-fill: #3A3A3A;
}

.button {
	-fx-background-color: #00c2fb;
	-fx-background-radius: 2;
}

.button:hover {
	-fx-background-color: #00c2fb;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 3);
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: #00c2fb;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.0, 0, 3);
}