.list-view {
	-fx-background-color: #EAEAEA;
}

.list-cell {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-padding: 0;
	-fx-text-fill: #80ffff;
	-fx-font-size: 13pt;
	-fx-font-family: "Museo Sans Rounded 700";
}

.list-cell-holder {
	-fx-padding: 20 25 0 25;
}

.list-cell-text {
	-fx-text-fill: #123456;
	-fx-padding: 0 0 0 50;
}

.list-cell:hover {
	-fx-background-color: #CACACA;
}

.list-cell-text:pressed, .list-cell-text:default:hover:pressed {
	-fx-text-fill: #ff80ff;
	-fx-opacity: 1.0;
}

.list-cell-text:selected {
	-fx-text-fill: #F26D21;
	-fx-opacity: 1.0;
}

.slide-menu-background {
	-fx-background-color: #EAEAEA;
	-fx-effect: dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.6), 20.0, 0.0,
		6.0, 5.0);
}

.scroll-bar>.thumb {
	-fx-background-color: #5A5A5A;
	/*-fx-background-insets: 1, 2, 3;*/
	-fx-background-insets: 2, 3, 4;
	/*-fx-background-radius: 0.416667em, 0.333333em, 0.25em; */
	/* 5, 4,3 */
	-fx-background-radius: 2;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button {
	-fx-background-color: #FFFFFF;
}

.scroll-bar>.increment-button:hover, .scroll-bar>.decrement-button:hover
	{
	-fx-background-color: #d2d2d2;
}

.scroll-bar>.increment-button:pressed, .scroll-bar>.decrement-button:pressed
	{
	-fx-background-color: #5A5A5A;
}

.text-field {
	-fx-padding: 7 7 7 7;
	-fx-background-radius: 2.0;
	-fx-background-color: #ffffff;
	-fx-border-width: 1.0;
	-fx-border-radius: 2.0;
	-fx-text-fill: #1A1A1A;
	-fx-prompt-text-fill: #3A3A3A;
}

.text-field:hover {
	-fx-effect: innershadow(gaussian, #007495, 10.0, 0.0, 0.0, 0.0);
}

.text-field:focused {
	-fx-effect: innershadow(gaussian, #007495, 7.0, 0.0, 0.0, 0.0);
}

.date-picker>.arrow-button {
	-fx-background-color: #AAAAAA;
	-fx-background-insets: 0;
}

.date-picker>.arrow-button:hover {
	-fx-background-color: #777777;
	-fx-background-insets: 0;
}

.date-picker>.arrow-button>.arrow {
	-fx-background-color: #222222;
	-fx-background-insets: 0;
	-fx-scale-shape: true;
}

.date-picker>.arrow-button>.arrow:disabled {
	-fx-background-color: null;
	-fx-background-insets: 0;
	-fx-scale-shape: true;
}

.date-picker>.arrow-button:disabled {
	-fx-background-color: null;
}

.date-picker>.text-field {
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 0;
	-fx-background-radius: 2 0 0 2;
	-fx-font-family: "Roboto Bold";
	-fx-font-size: 11pt;
}

.date-picker>.text-field:hover {
	-fx-background-color: #FAFAFA;
	-fx-effect: null;
}

.date-picker>.text-field:focused {
	-fx-effect: null;
}

.date-picker:disabled {
	-fx-background-color: null;
	-fx-opacity: 1;
}

.date-picker>.text-field:disabled {
	-fx-background-color: null;
	-fx-effect: null;
	-fx-opacity: 1;
}

.date-picker {
	-fx-background-color: null;
}

.date-picker {
	-fx-border-color: null;
}

.text-field:disabled {
	-fx-opacity: 1;
	-fx-padding: 7 7 7 0;
	-fx-background-color: null;
	-fx-text-fill: #3A3A3A;
	-fx-effect: innershadow(gaussian, #007495, 7.0, 0.0, 0.0, 0.0);
	-fx-background-color: null;
	-fx-background-color: null;
}